@import "vars";

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: grid;
  max-width: 1336px;
  margin: 0 auto;
}

.container {
  max-width: 1336px;
  margin: 0 auto;
}
