@import "vars";

.pricing {
  padding-top: 188px;
  padding-bottom: 290px;

  &__title {
    text-align: center;
  }
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.cont {
  max-width: 400px;
}

.title2 {
  padding-top: 40px;
  text-align: start;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  align-items: center;
  justify-content: center;
  color: $dark;
}

.description {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $grey;
}

.price1,
.price2,
.price3 {
  padding: 10px;
  max-width: 198px;
  min-height: 45px;
  background-color: #aab2c7;
}

@media screen and (max-width: 992px) {
  .pricing {
    margin: 0 auto;
  }

  .self-study__img {
    max-width: 267px;
  }
  .self-study__title {
    max-width: 273px;
    font-size: 22px;
    line-height: 34px;
  }
  .self-study__description {
    max-width: 336px;
    font-size: 16px;
    line-height: 24px;
  }
  .price1 {
    max-width: 205px;
  }
  .wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .img {
    width: 100%;
  }
}
