*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "about";
@import "contact";
@import "pricing";
@import "blog";
@import "logo";
@import "menu";
@import "globals";
@import "btn";
@import "title";
@import "footer";

.container {
  max-width: 1336px;
  margin: 0 auto;
  padding: 0 15px;
}
